# Question 1

One tailed t-test - In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/machine.txt. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other?

In [25]:
import numpy as np
import pandas as pd
import scipy.stats as st
import math
from scipy.stats import t

In [22]:
machine_df = pd.read_csv('machine2.txt', sep=' ')
machine_df.head()

   New_machine  Old_machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5

In [ ]:
# H0 - does the new machine work more efficiently
# H1 - does the new machine does not work as efficiently

In [23]:
old_machine = np.mean(machine_df['Old_machine'])

In [27]:
st.ttest_1samp(machine_df['New_machine'],old_machine)

Ttest_1sampResult(statistic=-5.04331853503833, pvalue=0.0006966376076759033)

In [31]:
print('p value (single tailed: ', st.ttest_1samp(machine_df['New_machine'],old_machine)[1]/2)

p value (single tailed:  0.00034831880383795163

In [ ]:
#p value is really low so this means that we can reject the null hypothsis. The new machine is better.

# Question 2: 

Matched Pairs Test - In this challenge we will compare dependent samples of data describing our Pokemon (file files_for_lab/pokemon.csv). Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. Compare the two columns to see if there is a statistically significant difference between them and comment your result.

In [33]:
pokemon = pd.read_csv('pokemon.csv')
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [34]:
# H0 : Defense & Attack scores are =
# H1 : they are different

In [35]:
st.ttest_ind(pokemon['Attack'], pokemon['Defense'], equal_var=False)

Ttest_indResult(statistic=3.2417640740423126, pvalue=0.0012124374824544375)

In [ ]:
# once again, we can reject the null hypothosis because we have a pvalue lower than 0.05.

# ANOVA

In [44]:
anova = pd.read_excel('anova_lab_data.xlsx')
anova.head()

  Power   Etching Rate
0  160 W          5.43
1  180 W          6.24
2  200 W          8.79
3  160 W          5.71
4  180 W          6.71

In [45]:
anova.shape

(15, 2)

In [46]:
anova['power_count'] = anova.groupby("Power ").cumcount()##is the new index 
anova_pivot = anova.pivot(index="power_count", columns= "Power ", values='Etching Rate')
anova_pivot.head(10)

Power        160 W  180 W  200 W
power_count
0             5.43   6.24   8.79
1             5.71   6.71   9.20
2             6.22   5.98   7.90
3             6.01   5.66   8.15
4             5.59   6.60   7.55

In [47]:
st.f_oneway(anova_pivot['160 W'],anova_pivot['180 W'],anova_pivot['200 W'])

F_onewayResult(statistic=36.87895470100505, pvalue=7.506584272358903e-06)

In [48]:
anova_pivot.mean()

Power
160 W    5.792
180 W    6.238
200 W    8.318
dtype: float64

In [49]:
# here we can reject the null hypothysis. the means are not the same.

In [50]:
#significance level is still the same at 0.05. Once again out pvalue is way lower than that.